body {
    margin: 0 auto;
}

.wrapper {
    width: 1000px;
}

.card-list {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.card {
    background: red;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-list img {
    max-height: 500px;
}
